
<div class="headerWrapper">
  <h1 id="title">Stop voilence agaist Women</h1>
  <ul class="nav">
    <li><%= link_to 'Home', 'home' %></li>
    <li><%= link_to 'About', 'about' %></li>
    <li><%= link_to 'Blog', 'blog' %></li>
    <li><%= link_to 'Join us', 'joins' %></li>
  </ul>
</div>

<div id="joinContentWrapper">
	<div id="notice">
		<div id="notice_inner">
			<%= notice %>
	  			<span class="notice_name"><%= @join.name %></span>
  		</div>
	</p>
</div>